<div class="row">
    <div class="col-50">
        <!-- Лівий блок-->
        <div class="card">

            <!-- Інпути -->

            <div class="form-group">
                <label for="D">Маса зр. Після 1000 об/хв</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="D"
                       placeholder="Введіть масу"
                       mask="separator"
                       [(ngModel)]="D"> <!--[()]привязує значення input до змінної-->
            </div>

            <div class="form-group">
                <label for="C">Маса насичен. Зр. Пл.водою</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="C"
                       placeholder="Введіть масу"
                       mask="separator"
                       [(ngModel)]="C">
            </div>

            <div class="form-group">
                <label for="B">Маса сух. зр. Г</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="B"
                       placeholder="Введіть довжину"
                       mask="separator"
                       [(ngModel)]="B">
            </div>

            <!-- / Інпути -->

            <!-- Кнопки -->

            <div class="buttons-section">
                <button type="button" class="btn btn-light" (click)="clear()">Очистити</button>
                <button type="button" class="btn btn-primary" (click)="calc()">Розрахунок</button>
            </div>
            <!-- / Кнопки -->
        </div>
        <!-- / Лівий блок-->
    </div>
    <div class="col-50">
        <!-- Правий блок-->
        <div class="card">
            <app-calculation-result resultLabel="Центрифугування"
                                    [result]="result"
                                    [resultError]="resultError"
                                    resultDescription="Центрифугування – ШО ЦЕ"></app-calculation-result>
        </div>
        <!-- / Правий блок-->
    </div>
</div>