<div class="row">
    <div class="col-50">
        <!-- Лівий блок-->
        <div class="card">

            <!-- Інпути -->

            <div class="form-group">
                <label for="P1">Маса сухого зразка на повітрі</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="P1"
                       placeholder="Введіть масу"
                       mask="separator"
                       [(ngModel)]="P1"> <!--[()]привязує значення input до змінної-->
            </div>

            <div class="form-group">
                <label for="P2">Маса зразка в керосині після насичення</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="P2"
                       placeholder="Введіть масу"
                       mask="separator"
                       [(ngModel)]="P2">
            </div>

            <div class="form-group">
                <label for="P3">Маса зразка на повітрі після насичення в керосині</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="P3"
                       placeholder="Введіть масу"
                       mask="separator"
                       [(ngModel)]="P3">
            </div>

            <!-- / Інпути -->

            <!-- Кнопки -->

            <div class="buttons-section">
                <button type="button" class="btn btn-light" (click)="clear()">Очистити</button>
                <button type="button" class="btn btn-primary" (click)="calc()">Розрахунок</button>
            </div>
            <!-- / Кнопки -->
        </div>
        <!-- / Лівий блок-->
    </div>
    <div class="col-50">
        <!-- Правий блок-->
        <div class="card">
            <app-calculation-result resultLabel="Об’ємна вага "
                                    [result]="result"
                                    [resultError]="resultError"
                                    resultDescription="Об’ємна вага  – це фізична властивість гірських порід, яка визначається як відношення маси породи до її об'єму. Це один з ключових показників, які використовуються для оцінки характеристик породи, особливо в геологічних і геофізичних дослідженнях."></app-calculation-result>
                                    
        </div>
        <!-- / Правий блок-->
    </div>
</div>