<div class="row">
    <div class="col-50">
        <!-- Лівий блок-->
        <div class="card">

            <!-- Інпути -->

            <div class="form-group">
                <label for="C">Маса, г</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="C"
                       placeholder="Введіть масу"
                       mask="separator"
                       [(ngModel)]="C"> <!--[()]привязує значення input до змінної-->
            </div>

            <div class="form-group">
                <label for="D">об’єм, мл</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="D"
                       placeholder="Введіть об’єм"
                       mask="separator"
                       [(ngModel)]="D">
            </div>

            <div class="form-group">
                <label for="E">Коефіцієнт</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="E"
                       placeholder="Введіть коефіцієнт"
                       mask="separator"
                       [(ngModel)]="E">
            </div>

            <!-- / Інпути -->

            <!-- Кнопки -->

            <div class="buttons-section">
                <button type="button" class="btn btn-light" (click)="clear()">Очистити</button>
                <button type="button" class="btn btn-primary" (click)="calc()">Розрахунок</button>
            </div>
            <!-- / Кнопки -->
        </div>
        <!-- / Лівий блок-->
    </div>
    <div class="col-50">
        <!-- Правий блок-->
        <div class="card">
            <app-calculation-result resultLabel="Карбонатність"
                                    [result]="result"
                                    [resultError]="resultError"
                                    resultDescription="Карбонатність – Карбонатність — це показник вмісту карбонатів (сполук на основі вуглекислого кальцію, магнію та інших металів) у гірських породах. Вона визначає ступінь насиченості породи карбонатними мінералами, такими як кальцит або доломіт. Карбонатність впливає на фізичні та хімічні властивості порід, включаючи їхню стійкість до вивітрювання, пористість, та здатність до розчинення у воді. Високий вміст карбонатів часто характерний для осадових порід, таких як вапняк і доломіт."></app-calculation-result>
        </div>
        <!-- / Правий блок-->
    </div>
</div>